.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  border-radius: 5px;
  margin-bottom: 10px;
}


textarea {
  height: 40%;
  width: 100%;
  font-size: 1rem;
}


.App-header {
  background-color: #AED6F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  height: 100%;
  border-radius: 20px;
}

@media (min-width: 768px) {
  /* Estilos para pantallas de 768px o más */
  .App-header {
    margin-left: 20%;
    width: 60%;
  }
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* agrega esta línea para centrar el contenido */
  gap: 20px;
  margin: 20px;
  background-color: plum;
  max-width: 50rem;
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  form {
    margin-left: 300px;
    justify-content: space-between; /* agrega esta línea para distribuir el contenido */
  }
}



label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 18px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

button:hover {
  background-color: #3e8e41;
}


/*----------------------------------------------------------------*/
